<div class="open-modal animacion fadeIn" *ngIf="modalService.modalMensaje">
    <div  class="modal" tabindex="-1" role="dialog" style="display: block;">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Envio mensaje</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="">
                    <div class="card">
                        <div class="">
                        <div class="card-body card-block">
                            <div class="form-group">
                                <label for="company" class=" form-control-label">Número de teléfono</label>
                                <input type="number" id="Nombre" placeholder="Número de teléfono" class="form-control" [(ngModel)]='sendMessage.telephone' [ngModelOptions]="{standalone: true}">
                            </div>
                            <div class="form-group">
                                <label for="vat" class=" form-control-label">Mensaje</label>
                                <textarea name="textarea-input" id="textarea-input" rows="9" placeholder="Content..." class="form-control" [(ngModel)]='sendMessage.text_message' [ngModelOptions]="{standalone: true}"></textarea>
                            </div>
                            
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" (click)="sendMess()">Enviar</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Close</button>
            </div>
          </div>
        </div>
      </div>
</div>
